IT140P Final Project/Web References/LoanService/TheWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="urn:soaptest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="urn:soaptest" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="urn:soaptest">
      <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/" />
      <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="calculate_personal_loan_repaymentRequest">
    <wsdl:part name="loan_amount" type="xsd:float" />
    <wsdl:part name="interest_rate" type="xsd:float" />
    <wsdl:part name="loan_term" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="calculate_personal_loan_repaymentResponse">
    <wsdl:part name="return" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="calculate_car_loan_repaymentRequest">
    <wsdl:part name="car_price" type="xsd:float" />
    <wsdl:part name="down_payment" type="xsd:float" />
    <wsdl:part name="interest_rate" type="xsd:float" />
    <wsdl:part name="loan_term" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="calculate_car_loan_repaymentResponse">
    <wsdl:part name="return" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="calculate_home_loan_repaymentRequest">
    <wsdl:part name="home_price" type="xsd:float" />
    <wsdl:part name="down_payment" type="xsd:float" />
    <wsdl:part name="interest_rate" type="xsd:float" />
    <wsdl:part name="loan_term" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="calculate_home_loan_repaymentResponse">
    <wsdl:part name="return" type="xsd:float" />
  </wsdl:message>
  <wsdl:message name="calculate_education_loan_repaymentRequest">
    <wsdl:part name="loan_amount" type="xsd:float" />
    <wsdl:part name="interest_rate" type="xsd:float" />
    <wsdl:part name="loan_term" type="xsd:int" />
    <wsdl:part name="grace_period" type="xsd:int" />
  </wsdl:message>
  <wsdl:message name="calculate_education_loan_repaymentResponse">
    <wsdl:part name="return" type="xsd:float" />
  </wsdl:message>
  <wsdl:portType name="Soap Service TestPortType">
    <wsdl:operation name="calculate_personal_loan_repayment">
      <wsdl:input message="tns:calculate_personal_loan_repaymentRequest" />
      <wsdl:output message="tns:calculate_personal_loan_repaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_car_loan_repayment">
      <wsdl:input message="tns:calculate_car_loan_repaymentRequest" />
      <wsdl:output message="tns:calculate_car_loan_repaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_home_loan_repayment">
      <wsdl:input message="tns:calculate_home_loan_repaymentRequest" />
      <wsdl:output message="tns:calculate_home_loan_repaymentResponse" />
    </wsdl:operation>
    <wsdl:operation name="calculate_education_loan_repayment">
      <wsdl:input message="tns:calculate_education_loan_repaymentRequest" />
      <wsdl:output message="tns:calculate_education_loan_repaymentResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Soap Service TestBinding" type="tns:Soap Service TestPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <wsdl:operation name="calculate_personal_loan_repayment">
      <soap:operation soapAction="http://192.168.1.34/FinalProject/TheWebService.php/calculate_personal_loan_repayment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_car_loan_repayment">
      <soap:operation soapAction="http://192.168.1.34/FinalProject/TheWebService.php/calculate_car_loan_repayment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_home_loan_repayment">
      <soap:operation soapAction="http://192.168.1.34/FinalProject/TheWebService.php/calculate_home_loan_repayment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculate_education_loan_repayment">
      <soap:operation soapAction="http://192.168.1.34/FinalProject/TheWebService.php/calculate_education_loan_repayment" style="rpc" />
      <wsdl:input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Soap Service Test">
    <wsdl:port name="Soap Service TestPort" binding="tns:Soap Service TestBinding">
      <soap:address location="http://192.168.1.34/FinalProject/TheWebService.php" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>